.tagContainer{
  display: inline-block;
  width: 250px;
  margin: 1em;

  border: 1px solid #000;

  font-size: 1em;
  overflow-x: hidden;
}

.tagItems {
  display: inline-block;
  padding: 0.5em;

  border: 1px solid #000;

  font-size: 1em;
  white-space: nowrap;
}

.tagItem {
  display: inline-block;
  padding: 0.2em;
}

.tagItem:last-child {
}

.tagName{
  display: inline-block;
  padding: 0.2em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
