.container{
  display: inline-block;
  max-width: 100%;

  background-color: #F6F6F6;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 5px solid rgba(0, 0, 0, 0.2);
  border-right: 5px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;

  font-size: 1em;
  overflow-x: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.items {
  display: inline-block;
  padding: 0.5em;

  font-size: 1em;
  white-space: nowrap;
}

.item {
  display: inline-block;
  padding: 0.2em;
  margin: 0 0.1em;
  min-width: 50px;

  background-color: #77af9c;

  /* border: 1px solid #000; */
  border-radius: 25px;
  box-shadow: 0rem 0.1rem 0.01rem rgba(0, 0, 0, 0.2);
  text-align: center;

  transition: background 0.2s ease-in-out;
}

.name{
  display: inline-block;
  padding: 0 0.5em;

  color: #fff;
}

.seleted{
  background-color: #800080;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}
